.gallery {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #414c56;
    position: fixed;
    bottom: 10%;
    margin-bottom: 0.5rem;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    overflow: auto;
}

.address-box {
    min-width: 13rem;
    height: 85%;
    background-color: #ffffffd4;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .375rem;
    margin: 0 0.25rem;
}

.location {
    display: flex;
    align-items: flex-end;
}

.location h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

.location img {
    width: 2rem;
    height: 2rem;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: .75rem;
    padding-left: 0.1rem;
}

.time p {
    margin: 0;
    padding-left: .5rem;
}

.delete {}