.modal {
    width: 65vw;
    height: 50vh;
    position: absolute;
    padding: 2rem;
    top: 15vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    background-color: rgb(240 240 240 / 77%);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    z-index: 10;
    color: #3e3e3e;
}

.modal h1 {
    margin: 0;
    font-size: 2rem;
}