.navbar {
  height: 7%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #414c56;
  position: fixed;
  top: 0;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: 2rem;
  backdrop-filter: blur(2px);
  background-color: rgb(240 240 240 / 77%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar .title {
  margin-left: 4vw;
  font-size: 2rem;
  font-weight: 600;
}

.navbar .btn {
  margin-right: 1rem;
  font-size: 1rem;
}

.navbar .btn:hover {
  background: #eeeeee;
  color: #6c59ea;
  font-weight: 600;
  border: 2px solid #6c59ea85;
}

.modal {
  width: 65vw;
  height: 50vh;
  background: rgb(0 0 0 / 88%);
  position: absolute;
  top: 15vh;
  left: 18vw;
  color: #e3e3e3;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.modal h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.modal p {
  font-size: 13px;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .modal {
    height: 35vh;
  }

  .navbar .title {
    font-size: 10vw;
  }

  .navbar .btn {
    margin-right: 10px;
    font-size: 15px;
    padding: 3px 16px;
  }
}