.search-bar {
    height: 6%;
    width: 85%;
    display: flex;
    align-items: center;
    color: #414c56;
    position: fixed;
    top: 11%;
    margin-top: .5rem;
    padding: .5rem;
    border-radius: 2rem;
    backdrop-filter: blur(2px);
    background-color: rgb(240 240 240 / 77%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-bar a {
    padding: 0 15px;
    display: flex;
}

.search-bar input {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}