.search-bar {
  height: 6%;
  width: 90%;
  display: none;
  align-items: center;
  justify-content: space-between;
  color: #414c56;
  position: fixed;
  top: 11%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: rgb(240 240 240 / 77%);
  border: 1px solid #c3c3c3;
  box-shadow: inset 0 13px 25px rgb(255 255 255 / 50%),
    0 3px 5px rgb(0 0 0 / 20%), 0 10px 13px rgb(0 0 0 / 10%);
}

.input-bar {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.search-btn {
  outline: none;
  border: none;
  font-weight: 600;
  color: #414c56;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;

  &:hover {
    color: #6c59ea;
    font-weight: 600;
    border: 2px solid #6c59ea85;
  }
}

.search-bar a {
  padding: 0 15px;
  display: flex;
}

.search-bar input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .search-bar button {
    margin-right: 10px;
    font-size: 15px;
    padding: 3px 16px;
  }
}
