.search-bar {
    height: 6%;
    width: 90%;
    display: none;
    align-items: center;
    justify-content: space-between;
    color: #414c56;
    position: fixed;
    top: 11%;
    margin-top: .5rem;
    padding: .5rem;
    border-radius: 2rem;
    backdrop-filter: blur(2px);
    background-color: rgb(240 240 240 / 77%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-bar {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.search-bar a {
    padding: 0 15px;
    display: flex;
}

.search-bar input {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.search-bar button {
    margin-right: 1rem;
    font-size: 1rem;
}

.search-bar button:hover {
    background: #eeeeee;
    color: #6c59ea;
    font-weight: 600;
    border: 2px solid #6c59ea85;
}

@media only screen and (max-width: 600px) {
    .search-bar button {
        margin-right: 10px;
        font-size: 15px;
        padding: 3px 16px;
    }
}