.navbar {
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2em;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  background: rgb(0 0 0 / 77%);
}

.navbar .btn {
  width: 15%;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 15px;
}

.navbar .btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
